/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.mainnav ul {
    display: flex;
    float: right;
}

.mainnav {
    width: 100%;
    justify-content: flex-end;
}

#nav {
    margin-top: 15px;
    width: 100%;
    height: 50px;
}

#nav ul li {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

#nav ul li a {
    text-decoration-line: none;
    color: black;
}

.box {
    color: black;
}

#dot img {
    margin-left: -25px;
    margin-top: -25%;
}

#g {
    margin-top: -20%;
    border-radius: 50%;
}

#l4 {
    padding-left: 15px;
}

#dot {
    margin-right: -25px;
    padding-left: 10px;
}

#google {
    margin: auto;
    display: block;
}

#bod {
    width: 100%;
    /* background-color: blue; */
    margin: 0;
    padding: 0;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
}